/*body {
  background-color: grey;
}

.border-radius {
  border: 12px solid green;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}*/
/*.doberman {
  width: 200px;
  height: 200px;
  background-image: url(images/doberman.jpeg);
  padding: 30px;
  background-color: black;

}
.wrap {
  width: 50px;
  background-color: green;
  word-wrap: normal;

  }*/
/*.gradient {
  height: 200px;
  width: 200px;
  background-color: red;
  background: repeating-radial-gradient(rgba(244,244,244,0),red 30%);
}*/
/*.transition {
  height: 400px;
  width: 1000px;
  transition: height 3s, width 3s;
  background-color: red;
  transition: background-color 3s;
}*/
